* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}


header {
    background-color: rgb(221, 148, 148);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    overflow: hidden;
}

header h1 {
    font-size: 4rem;
    margin-top: 3rem;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}



header nav ul li a {
    padding: 1.7rem;
    font-size: 1.6rem;
    color: rgba(255, 255, 0);
    display: flex;
    justify-content: space-around;
}

header img {
    border-radius: 36px;
}

.header-img {

    width: 18.25rem;
    animation: fadeinout 4s linear forwards;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
}

@-webkit-keyframes fadeinout {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.intro {
    background-image: url("../images/jungle1.jpg");
    background-size: cover;
    height: 12.3rem;
    color: rgba(255, 255, 0);
    text-align: center;
}

.intro h2 {

    font-size: 2.1rem;
    color: rgb(211, 115, 25)
}

.intro p {
    font-size: 1.8rem;
    color: rgba(255, 255, 0);
}


.projects {
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 39rem;
    background-image: url("../images/bananagrid.jpg");
    text-align: center;
}

.projects h2 {

    font-size: 2.8rem;
    color: rgba(0, 0, 0, 0.6);
}

.runbuddy {
    width: 40%;

}

.Horiseon {
    width: 28%;
}

.watchthisspace {
    width: 10%;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects p {
    font-size: 1.4rem;
    font-weight: bolder;
    text-shadow: 1.5px rgba(0, 0, 0, 0.6);

}

.contact {
    height: 15rem;
    background-image: url("../images/jungle1.jpg");

    text-align: center;
    opacity: .80;
}

.contact h2 {
    font-size: 2.5rem;
    align-items: center;
    color: rgb(231, 223, 14);
}

.contact ul {
    font-size: 2rem;
    color: rgb(231, 223, 14);
    list-style: none;
    padding-top: 3rem;
    font-weight: bolder;

}

footer {
    width: 100%;
    height: 8.5rem;
    background-color: rgba(255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:980px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: auto;
        font-size: 50px;

    }

    header nav ul {
        width: auto;
        font-size: 1px;

    }

    .header-img {
        position: relative;
        width: auto;
        height: auto;

    }


    .intro {
        width: 100%;
        justify-content: center;
        position: relative;
    }

    .intro h2 {
        width: 100%;
    }

    .intro p {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }

    .projects {

        width: 100%;
        height: fit-content;
        justify-content: center;
        position: relative;


    }


    .images {
        width: 100%;
    }

    .contact h2,
    .contact p {
        width: 100%;
        justify-content: center;
        position: relative;
        flex: 1;
    }

    footer {
        width: 100%;
        justify-content: center;
        position: relative;
    }
}

@media screen and (max-width:768px) {

    header h1 {
        font-size: 2rem;
    }

    header nav ul a {

        font-size: .8rem;

    }

    .header-img {
        width: auto;
        height: auto;
    }

    .intro p {
        font-size: 1.5rem;
    }

    .projects p {
        font-size: 1.1rem;
    }


}

@media screen and (max-width:575px) {

    * {
        width: 100%;
    }

    header {
        height: auto;
    }

    header nav ul li a {

        font-size: .7rem;

    }


    .header-img {
        width: 100%;
        height: 20vh;
    }

    .intro p {
        font-size: 1.27rem;
    }

    .projects {
        text-align: center;
        justify-content: baseline;
    }




    footer {
        text-align: center;
    }
}